WCFMultipleContracts/TestMultipleContracts/Service References/ConsumedService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:14890/Master.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:14890/Master.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGetData_GetSomeData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSomeData" />
  </wsdl:message>
  <wsdl:message name="IGetData_GetSomeData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSomeDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDoMoreWork_DoMoreWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoMoreWork" />
  </wsdl:message>
  <wsdl:message name="IDoMoreWork_DoMoreWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoMoreWorkResponse" />
  </wsdl:message>
  <wsdl:portType name="IGetData">
    <wsdl:operation name="GetSomeData">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetData/GetSomeData" message="tns:IGetData_GetSomeData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetData/GetSomeDataResponse" message="tns:IGetData_GetSomeData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IDoMoreWork">
    <wsdl:operation name="DoMoreWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IDoMoreWork/DoMoreWork" message="tns:IDoMoreWork_DoMoreWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDoMoreWork/DoMoreWorkResponse" message="tns:IDoMoreWork_DoMoreWork_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGetData" type="tns:IGetData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSomeData">
      <soap:operation soapAction="http://tempuri.org/IGetData/GetSomeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IDoMoreWork" type="tns:IDoMoreWork">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoMoreWork">
      <soap:operation soapAction="http://tempuri.org/IDoMoreWork/DoMoreWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IGetData" binding="tns:BasicHttpBinding_IGetData">
      <soap:address location="http://localhost:14890/Master.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IDoMoreWork" binding="tns:BasicHttpBinding_IDoMoreWork">
      <soap:address location="http://localhost:14890/Master.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>